input[type=text] {
    border: 2px solid red;
    border-bottom: 2px solid red;
    background-color: #37c09e;
    color: white;
}

input[type=number] {
    border: 2px solid red;
    border-bottom: 2px solid red;
    background-color: #37c09e;
    color: white;
}

input[type=date] {
    border: 2px solid red;
    border-bottom: 2px solid red;
    background-color: #37c09e;
    color: white;
}

input[type=time] {
    border: 2px solid red;
    border-bottom: 2px solid red;
    background-color: #37c09e;
    color: white;
}

input[type=submit] {
    border: 2px solid red;
    border-bottom: 2px solid red;
    background-color: #37c09e;
    color: white;
}